@page "/efcore"

<PageTitle>EfCore Demo</PageTitle>

<h1>Server</h1>

<SyncServerComponent deltaStore="@deltaStore" NodeId="@NodeId" @ref="@serverComponent" />

<button class="btn btn-primary" @onclick="AddClientNode">Add client node</button>
